<!DOCTYPE html>
{% extends "partials/base.html" %}

{% block content %}
<div class=logo-container>


    <pre>

                                                                                                 
 

███████╗ █████╗ ███╗   ██╗██████╗  ██████╗ ██╗  ██╗
██╔════╝██╔══██╗████╗  ██║██╔══██╗██╔═══██╗╚██╗██╔╝
███████╗███████║██╔██╗ ██║██████╔╝██║   ██║ ╚███╔╝ 
╚════██║██╔══██║██║╚██╗██║██╔══██╗██║   ██║ ██╔██╗ 
███████║██║  ██║██║ ╚████║██████╔╝╚██████╔╝██╔╝ ██╗
╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝  ╚═════╝ ╚═╝  ╚═╝
                                                                                                          
<code>SAN Scripting Tool</code>
                                                                                              
                                                                                        
                                                                                                        
                                                                                                        
                                                                                                        
                                                                                                        
                                                                                                        
       
    </pre>
  </div>

{% endblock %}
