{% load static %}
{% block sidebar %}
    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu sidebar">
        <div data-simplebar class="h-100">
            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title" key="t-menu">Menu</li>

                    <li>
                        <a href="javascript:void(0);" class="has-arrow waves-effect">
                            <i class='bx bx-shape-circle'></i>
                            <span key="t-dashboards">SAN</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="true">
                            <li><a href="{% url 'aliases' %}" key="t-default">Aliases</a></li>
                            <li><a href="{% url 'zones' %}" key="t-saas">Zones</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="has-arrow waves-effect">
                            <i class='bx bx-box'></i>
                            <span key="t-dashboards">DS8000</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="true">
                            <li><a href="{% url 'hosts' %}" key="t-default">Hosts</a></li>
                            <li><a href="{% url 'ds_volume_ranges' %}" key="t-saas">Volume Ranges</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="has-arrow waves-effect">
                            <i class='bx bx-cloud-lightning'></i>
                            <span key="t-dashboards">FlashSystem</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="true">
                            <li><a href="#" key="t-default">Volumes</a></li>
                            <li><a href="#" key="t-saas">Volume Ranges</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="has-arrow waves-effect">
                            <i class='bx bx-list-ul'></i>
                            <span key="t-dashboards">Inventory</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="true">
                            <li><a href="{% url 'fabrics' %}" key="t-default">Fabrics</a></li>
                            <li><a href="{% url 'storage' %}" key="t-default">Storage</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="javascript:void(0);" class="has-arrow waves-effect">
                            <i class='bx bx-cog'></i>
                            <span key="t-dashboards">Settings</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="true">
                            <li><a href="{% url 'config' %}" key="t-default">Config</a></li>
                            <li><a href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
                        </ul>
                    </li>
                    <li class="fixed-bottom">
                      <a href="https://rickkoetter.com" target="_blank" rel="noopener noreferrer">rickkoetter.com</a>
                    </li>
                </ul>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
    <!-- Left Sidebar End -->
{% endblock %}
